<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GoogleTasks Desktop</title>
    <link rel="stylesheet" type="text/css" href="api.css"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body class="noselect">

<div class="toolbar" style="display: flex;">
    <div class="title drag js-drag js-title" style="flex:1"></div>
    <div class="nodrag pin js-pin"><img src=../images/pin.png></div>
    <div class="nodrag magnetic js-magnetic"><img src=../images/magnetic.png></div>
    <div class="nodrag close js-close">✖</div>
</div>

<div class="wait js-wait"><img src=../images/preloader.gif></div>

<webview id="view" class="view" src="https://mail.google.com/tasks/ig?pli=1" partition="persist:google"></webview>

</body>

<script>
    require('./renderer.js')
</script>
</html>